@model IEnumerable<INSTITUTO_C.Models.Inscripcion>

@{
    ViewData["Title"] = "Inscripciones";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Inscripciones</h1>
    <a asp-action="Create" class="btn btn-primary">
        + Create New
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MateriaCursada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MateriaCursada.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alumno.Apellido)
                </td>
                @if (User.IsInRole("Empleado"))
                {
                    <td>
                        <a asp-action="Edit"
                           asp-route-alumnoId="@item.AlumnoId"
                           asp-route-materiaCursadaId="@item.MateriaCursadaId">
                            Edit
                        </a> |
                        <a asp-action="Details"
                           asp-route-alumnoId="@item.AlumnoId"
                           asp-route-materiaCursadaId="@item.MateriaCursadaId">
                            Details
                        </a> |
                        <a asp-action="Delete"
                           asp-route-alumnoId="@item.AlumnoId"
                           asp-route-materiaCursadaId="@item.MateriaCursadaId">
                            Delete
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
