@model INSTITUTO_C.Models.Calificacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Calificación</h1>

<h3>¿Seguro que quieres eliminar esta calificación?</h3>

<div>
    <h4>Calificación</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nota)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfesorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProfesorId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MateriaCursadaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MateriaCursadaId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlumnoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlumnoId)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="AlumnoId" />
        <input type="hidden" asp-for="MateriaCursadaId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
