@model IEnumerable<INSTITUTO_C.Models.Calificacion>

@{
    ViewData["Title"] = "Calificacion";
}


<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Calificacion</h1>
    <a asp-action="Create" class="btn btn-primary">
        + Create New
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Fecha)</th>
            <th>@Html.DisplayNameFor(model => model.Nota)</th>
            <th>@Html.DisplayNameFor(model => model.ProfesorId)</th>
            <th>@Html.DisplayNameFor(model => model.MateriaCursadaId)</th>
            <th>@Html.DisplayNameFor(model => model.AlumnoId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                <td>@Html.DisplayFor(modelItem => item.Nota)</td>
                <td>@Html.DisplayFor(modelItem => item.Profesor.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.Inscripcion.MateriaCursada.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Alumno.Apellido)</td>
                <td>
                    <a asp-action="Edit" asp-route-alumnoId="@item.AlumnoId" asp-route-materiaCursadaId="@item.MateriaCursadaId">Editar</a> |
                    <a asp-action="Details" asp-route-alumnoId="@item.AlumnoId" asp-route-materiaCursadaId="@item.MateriaCursadaId">Detalles</a> |
                    <a asp-action="Delete" asp-route-alumnoId="@item.AlumnoId" asp-route-materiaCursadaId="@item.MateriaCursadaId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
