@model INSTITUTO_C.Models.Materia

@{
    ViewData["Title"] = "Delete";
}

<div class="row main-flex-center">

    <div class="col-md-6">
        <h4>¿Estas seguro de eliminar la materia?</h4>
        <hr />
        <dl class="row main-flex-center">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Carrera)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Carrera.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CodigoMateria)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CodigoMateria)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CupoMaximo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CupoMaximo)
            </dd>

        </dl>
        <form asp-action="Delete" class="form-group pt-3 d-flex justify-content-between align-content-center">
            <a asp-action="Index" class="btn btn-primary">Volver</a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-delete" />
        </form>
    </div>
</div>
